html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#ff82ad, #ffffff);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        radial-gradient(circle, white 3px, transparent 3px),
        radial-gradient(circle, white 2px, transparent 2px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    opacity: 0.3; 
    z-index: -1;
    animation: sparkleMove 20s linear infinite;
    pointer-events: none;
}
@keyframes sparkleMove {
    from { background-position: 0 0, 25px 25px; }
    to { background-position: 50px 50px, 75px 75px; }
}
header{
    background: #ff3d81;
    display:flex;
    align-items:center;
    padding:10px 20px;
    color:white;
    text-align:left;
    width: 100%;
}
.menu{
    font-size:26px;
    background:#f3d7cf;
    color:#de6b8f;
    padding:6px 12px;
    border-radius:8px;
    border:none;
}
.menu:hover{
    cursor: pointer;
}
.menu:active{
    color:#a14f69;
    background:#ffcdc0;
}
#menu-toggle{
    display: none;
}
.menu-btn{
    font-size:28px;
    cursor:pointer;
    padding:10px;
    background:#f5d4cc;
    border-radius:8px;
}
.nav-menu{
    position:fixed;
    top:0;
    left:-250px;
    width:250px;
    height:100%;
    background:#e45f82;
    display:flex;
    flex-direction:column;
    padding-top:60px;
    transition:0.4s;
}
.nav-menu a{
    color:white;
    text-decoration:none;
    padding:15px 25px;
    font-size:18px;
}
.nav-menu a:hover{
    background:#d55375;
}
.close-btn{
    position:absolute;
    top:15px;
    left:15px;
    font-size:22px;
    cursor:pointer;
    color:white;
}
#menu-toggle:checked ~ .nav-menu{
    left:0;
}
.title{
    font-family: "Playfair Display", serif;
    font-size:28px;
    font-weight: bold;
    letter-spacing:10px;
    position: absolute;
    left: 43%;
}
.settings button{
    background:#f3d7cf;
    color:#de6b8f;
    padding:0px 6px;
    border-radius:10px;
    font-size:30px;
    margin-left: 4020%;
}
.login button{
    background:#f3d7cf;
    color:#de6b8f;
    padding:8px 2px;
    border-radius:10px;
    font-size:20px;
    margin-left: 2470%;
}
.logo {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
}
.main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.card {
    width: 40%;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.card h3 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.album {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}
.album img {
    width: 400px;
    border-radius: 6px;
}
.heart {
    width: 90px;
}
.song-title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}
.progress {
    height: 6px;
    background: #ddd;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
}
.progress::after {
    content: "";
    width: 50%;
    height: 6px;
    background: #ff6f9c;
    position: absolute;
    border-radius: 10px;
}
.player {
    font-size: 20px;
    color: #ff6f9c;
    margin-bottom: 15px;
}
.letter {
    border: 2px solid #999;
    background: white;
    padding: 10px;
    font-size: 16px;
    text-align: left;
}
.gallery-title {
    text-align: center;
    margin: 40px 0 20px 0;
}
.gallery-title span {
    background: #e5729a;
    color: white;
    padding: 8px 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.board {
    width: 80%;
    margin: auto;
    background: #c89a6d;
    border: 10px solid #f3c3d2;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.polaroid {
    width: 200px;
    height: 200px;
    background: white;
    padding: 10px;
    transform: rotate(-5deg);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    cursor:pointer;
}
.polaroid img {
    width: 100%;
    height: 90%;
}
.polaroid p {
    font-size: 12px;
    margin-top: 5px;
}
.pin {
    width: 12px;
    height: 12px;
    background: #ff8fb1;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 5px;
}
.polaroid:nth-child(2) {
    transform: rotate(4deg);
}
.polaroid:nth-child(3) {
    transform: rotate(-3deg);
}
.polaroid:nth-child(4) {
    transform: rotate(5deg);
}
.music-player {
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}
.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
#progress-bar {
    flex-grow: 1;
    cursor: pointer;
    accent-color: #ff3d81;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main-btn {
    background: #ff3d81;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}
.skip-btn {
    background: #cecece;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.main-btn:hover {
    transform: scale(1.05); 
}
.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease;
}