* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#ff82ad, #ffffff);
    min-height: 100vh;
}
header{
    background: #ff3d81;
    display:flex;
    align-items:center;
    padding:10px 20px;
    color:white;
    text-align:left;
    width: 100%;
}
.menu{
    font-size:26px;
    background:#f3d7cf;
    color:#de6b8f;
    padding:6px 12px;
    border-radius:8px;
    border:none;
}
.menu:hover{
    cursor: pointer;
}
.menu:active{
    color:#a14f69;
    background:#ffcdc0;
}
#menu-toggle{
    display: none;
}
.menu-btn{
    font-size:28px;
    cursor:pointer;
    padding:10px;
    background:#f5d4cc;
    border-radius:8px;
}
.nav-menu{
    position:fixed;
    top:0;
    left:-250px;
    width:250px;
    height:100%;
    background:#e45f82;
    display:flex;
    flex-direction:column;
    padding-top:60px;
    transition:0.4s;
}
.nav-menu a{
    color:white;
    text-decoration:none;
    padding:15px 25px;
    font-size:18px;
}
.nav-menu a:hover{
    background:#d55375;
}
.close-btn{
    position:absolute;
    top:15px;
    left:15px;
    font-size:22px;
    cursor:pointer;
    color:white;
}
#menu-toggle:checked ~ .nav-menu{
    left:0;
}
.title{
    font-family: "Playfair Display", serif;
    font-size:28px;
    font-weight: bold;
    letter-spacing:10px;
    position: absolute;
    left: 43%;
}
.settings button{
    background:#f3d7cf;
    color:#de6b8f;
    padding:0px 6px;
    border-radius:10px;
    font-size:30px;
    margin-left: 4020%;
}
.login button{
    background:#f3d7cf;
    color:#de6b8f;
    padding:8px 2px;
    border-radius:10px;
    font-size:20px;
    margin-left: 2470%;
}
.title {
    font-family: "Playfair Display", serif;
    letter-spacing: 4px;
    color: white;
    font-size: 28px;
}
.container{
    margin-left: 32%;
    border-radius: 500px;
    margin-top: 5%;
}